@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-scrollbar-bottom: 0;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  position: relative;
  /* height: 1000px; */
}

.iconNav:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.navSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.fillhop:hover > svg {
  fill: white;
}

/* width Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track Scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle Scrollbar */
::-webkit-scrollbar-thumb {
  background: #7434ce;
}

/* Handle on hover Scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #592d97;
}
